In [1]:
%%html
<style>
    table {float:left}
    td {
  font-size: 14px
}
</style>

# ICT706 SouthBank 2020 Semester 1 Task 3 - Exam

## Instructions
##### Follow all the instructions in this notebook to complete these tasks. 

##### This exam is time limited by 4 hours and is available at 1pm and must be completed and uploaded by 5pm on the day of exam (9th June 2020)

##### You will need a machine with JupyterLab installed.

### Student Information

Please fill in your SURNAME="", NAME="" and ID="" in the following cell

In [2]:
SURNAME= "KAUR"
NAME="GAGANDEEP"
ID="1121869"

### Answers
##### Answers cells are provided underneath each of the questions.
##### There are two types:

##### 1. Raw Answer (example question X, part a)

Xa) Your answer goes here

##### 2. Code Answer

In [3]:
#Xa) 
print("Your code goes here")

Your code goes here

### Submission

#### This exam is time limited by 4 hours and must be uploaded by 5pm on the day of exam (9th June 2020)

##### When you have finished, this notebook is the only file that you will need to submit to Blackboard.

##### Before you turn this exam in, make sure everything runs as expected. 

##### First, restart the kernel (in the menubar, select Kernel →→ Restart) and then run all cells (in the menubar, select Cell →→ Run All).

### Examiners Use Only
###### The following cells are examiners use only

(1) []/[10]  (2) []/[10]  (3) []/[10]  (4) []/[20]  (5) []/[15]  (6) []/[15]  (7) []/[20]

TOTAL: []/[100]

# EXAM BEGIN

# Question 1: Practical Python [10 marks]

#### Part A: For each of the following tasks, what Python library would you recommend?

##### a) Doing statistical analysis on a table of sales data?

(1a):sklearn, pandas, matplotlib

##### b) Drawing custom graphs to visualise customer satisfaction rates?

(1b):matplotlib

##### c) Using a clustering algorithm to group customers into similar groups?

(1c):KMeans from sklearn.clusters

##### d) Read an Excel spreadsheet to extract and clean a dataset?

(1d):import pandas as pd
read= pd.read_csv("filename.csv")

##### e) Building a machine learning model to predict expected travel costs?

(1e):from sklearn.linear_model import LinearRegression

#### PART B Given the Python list abc=[2, 3, 5, 7, 11, 13, 1], write the answer that will result from evaluating each of the following expressions:

##### f) abc[1]

(1f):3

##### g) abc[-1]

(1g): 1

#####  h) abc[2:4]

(1h):[5,7]

##### i) len(abc)

(1i):7

##### j) sum(abc)

(1j):42

# Question 2: Pandas Proficiency [10 marks]

##### We are using Pandas to analyse the IRIS dataset.   
##### Run the code in the following cell to import the data.

In [6]:
import pandas as pd

iris_csv = "https://damskii.github.io/ICT706-dataset/iris.csv"
df = pd.read_csv(iris_csv)
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

##### The CSV file containing all the data has been loaded into a Pandas DataFrame called 'df'. 
##### You should see the head() of the file above if it has imported correctly.
##### Write a Pandas expression that will:

##### a) Calculate the average of the SepalLength.

In [8]:
#(2a): 
df["sepal.length"].mean()

5.843333333333334

##### b) Calculate the lowest and highest widths for SepalWidth.  (Hint: you can return them as a pair of numbers).

In [12]:
#(2b)
df["sepal.width"].agg(["max","min"])

max    4.4
min    2.0
Name: sepal.width, dtype: float64

##### c) Calculate standard deviation of the PetalLength.

In [14]:
#(2c): 
df["petal.length"].std()

1.7652982332594662

##### d) Calculate the number of records where the SepalLength is greater than 6.0

In [17]:
#(2d):
df[df["sepal.length"]>6.0]["sepal.length"].count()

61

##### e) Add a new column called "PetalPercentage" to the data table, which is the percentage (0..100) of the PetalWidth to the PetalLength.  Express this as a percentage value out of 100.

In [21]:
#(2e): 
cal=(df["petal.width"]/df["petal.length"])*100
df["PetalPercentage"]=cal
df.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,PetalPercentage
0,5.1,3.5,1.4,0.2,Setosa,14.285714
1,4.9,3.0,1.4,0.2,Setosa,14.285714
2,4.7,3.2,1.3,0.2,Setosa,15.384615
3,4.6,3.1,1.5,0.2,Setosa,13.333333
4,5.0,3.6,1.4,0.2,Setosa,14.285714

# Question 3: Pandas Explanations [10 marks]

##### Write a sentence to explain each of the following Pandas DataFrame functions.  

##### They are shown applied to a dataframe called 'df'.

###### a) df.columns

(3a):It will print all the column names in the dataset.

###### b) df.shape

(3b): df.shape will give number shape of the database which means it gives number of rows and column in the database.

###### c) df.describe()

(3c):this calculate mean, count the number of records,maximum and minimum values.standard deviation and five number summary.

###### d) df.head()

(3d): It shows top five rows, column names of the database

###### e) df.count()

(3e): this counts number of records that is number of rows in database.

# Question 4: Machine Learning Process [20 marks]

##### a) Explain the typical process you would follow to use machine learning in python to predict the level of monthly sales for a business.  
#####    Give a number and a title for each of the steps that you would take, and briefly explain each step. [10 marks]
#####    eg: 1. import ??? function

4a) linear regression can be used to predict molnthly sales levels
1. import sklearn functions
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
2. load the dataset or read from csv file 
df=read_csv("filename.csv")

3. split the dataset into testing and training data using train_test_split
this will divide database into 80% training that that is used in model and 20% test data that is used to check the accuracy of the model.
X_train and X_test has all the other columns ie input attributes while y_test,y_train will have target column ie output, in this case taget is monthly sales.

X_train, X_test, y_train, y_test = train_test_split(df.data,df.target,test_size=0.2,random_state=1)
4. Create a linear regression classifier object
l_reg= linear_model.LinearRegression()

5. fit the trainig data to the model, used to learn from data 
l_reg.fit(X_train,y_train)

6. predict the outcome
y_predict = l_reg.predict(X_test)

7. calculate the accuracy of the model used to check how accuratly the model is working 
mse = mean_squared_error(y_test,y_predict )
r2 = r2_score(y_test, y_predict)
print("Mean squared error: {:.2f}".format(mse))
print("Variance score: {:.2f}".format(r2))

##### b)  Develop some example Python code that you would use to implement the above steps using a Decision Tree model and the inbuilt iris dataset.   [10 marks]

In [27]:
# 4b)
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import datasets
iris_csv = "https://damskii.github.io/ICT706-dataset/iris.csv"
df = pd.read_csv(iris_csv)
df.head()

iris = datasets.load_iris()

X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target,test_size=0.2,random_state=1)
dt = DecisionTreeClassifier(max_depth=3)
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
accy = accuracy_score(y_test, y_pred)
accy

0.9666666666666667

# Question 5: Machine Learning Algorithms [15 marks]
##### There are many different types of machine learning algorithms.  Explain the following groups of algorithms, and name one example algorithm in each group.

##### a) Clustering algorithms

(5a):it is combine similar data into a cluster. Each cluster data point is similar to other data points in the cluster and different cluster have diferent set of points.it produces patterns of data in dataset. it used Euclidean distance and other problem specific measures to find clusters. points within cluster are closer while distance between points of different clusters is more.
types of cluster: 
1.partitioning clusters divide data into non-over lapping subsets so that each point belong to only one cluster. 
2.Hierarchical Clustering divide data into set of nested clusters as hierarchical tree
we can change number of clusters in alogratims should identify which help in detecting various angels in patters.
example:KMean clustering

##### b) Regression algorithms

(5b): in this set of attributes  are used to predict a class attribute ie other attributes are function of class attribute
Class=f(Other attributes)
output in regression algortihms is continous value. it is used in predictive modelling and is a type of supervised learning.
example: linear regression, support vector regression

##### c) Classification algorithms

(5c): in classification algorithm class attribute is a discrete value. it can be yes,no etc. it is used in predictive modelling and is a type of supervised learning.
eg:pictures of dog and cats are labeled and used to test other images to identify it is a dog or cat.
example: Decision trees, Bayes Classifier

# Question 6: Supervised vs Unsupervised [15 marks]

###### a) Explain the difference between supervised and unsupervised machine learning.  [5 marks]

(6a):
supervised learning: it is used to predict outcomes baesd on present data.In suppervised lerning a machine learning model is fed with data with different attributes with is used to predict a target attribute.It creates a relationship between Y(target) and X(OTHER attributes such that Y is given by X, if X changes value of Y will also change.
Y=f(X)
it is of two types Classification and Regression.Empasise is given on predictive accuracy ather than understanding the model.it uses labelled data and are highly accurate. 

unsupervised learning: here unlabelled data is provided to the machine learning algorithm which detects information. there is no need to train the model, it detects patterns in dataset to combine similar values together in clusters.it is computationally more complex than supervised learning models and are less accurate as compared to supervised learning model.

###### b) Give a business example where supervised learning would be appropriate. [5 marks]

(6b): decision tree and linear regressions are type of supervised learning they can beused for:
Credit card fraud detection
Marketing and sales optimization
Predict user future needs
Predict user behaviour
Predicting tumor cells as benign or malignant
Science exploration

###### c) Give a business example where unsupervised learning would be appropriate. [5 marks]

(6c): clustering is a type of unsupervised learning and unsupervised learning can be used for:

Market Segmentation:Subdivide customers into distinct groups for targeted market promotions and services
Genetic study:Group genes and proteins that have similar functionality
Document Clustering:Find groups of documents that are similar to each other based on the terms in them
Stock analysis:Find stock groups that go up or down together

# Question 7: Evaluation of Models [20 marks]
#####  ReadItNow is an online company that loans e-books via subscription with prices as 10/month, or 120/year).  
##### They want to analyse their customer base, and their 'churn rates' (customers who decide to stop subscribing to their service).
##### The following confusion matrix shows the results of applying a Decision Tree machine learning algorithm to 1000 historical examples of customer churn from the previous year.

##### The columns show whether the customer did really leave ('Churn') or stay ('Not Churn').  The rows show the prediction output from the learned Decision Tree model.


|                     |         __Churn__       |     __Not Churn__    |
|:-------------------:|:-------------:|:----------:|
| __Model predicted YES__ |         400         |       100       |
| __Model predicted NO__  |         200         |       300         |

##### Calculate the values of the following evaluation metrics for this model [2 marks each]:

##### a) number of true positives?

7a)400

##### b) number of false positives?

7b)100

##### c) accuracy?  (show your calculations)

7c) accuracy=(400+300)/(400+200+100+300)
=700/1000
=0.7

##### d) precision? (show your calculations)

7d) precision= 400/(400+100)
=400/500
=0.8

##### e) recall? (show your calculations)

7e)recall=400/(400+200)
=400/600
=0.66

##### ReadItNow is considering using this model as the basis a new marketing campaign to better retain their existing customers.  
##### They will send special offers to all the people that the model predicts Yes (that is, the customers that are in danger of 'churning' away from ReadItNow).  
##### The cost of these discounts will average $10 per customer, but it is expected that it will halve the churn rate, which will save on average half of the annual subscription of each customer who is persuaded not to churn.  
##### The following cost-benefit matrix summarises the annual costs in dollars and expected benefits of this campaign for each group of customers.


|                     |         __Churn__       |     __Not Churn__    |
|:-------------------:|:-------------:|:----------:|
| __Model predicted YES__    |             ¾ * 120 - 10  = 80             |         120 - 10 = 110       |
| __Model predicted NO__     |         120/2=60         |       120         |

##### f) Calculate the expected income after this marketing campaign?  Show your working. [4 marks]

7f)income=400*80+200*60+100*110+300*120
=32000+12000+11000+3600
=91000

##### The cost-benefit matrix for the next year WITHOUT the marketing campaign is:


|                     |         __Churn__       |     __Not Churn__    |
|:-------------------:|:-------------:|:----------:|
| __Model predicted YES__    |            120/2=60             |         120       |
| __Model predicted NO__     |         120/2=60         |       120         |

##### g) Calculate the expected annual income WITHOUT the marketing campaign. [4 marks]

7g)income_without_camp=400*60+200*60+100*120+300*120
=24000+12000+12000+36000
=84000

##### h) Would you recommend that ReadItNow goes ahead with the marketing campaign? Explain your reason.  [2 marks]

7h) yes, i would recommend them to go for te marketing campaign because it will help them not loose thier custmer moreover will they will profit if they give discount to potential customers that can chunk away. they will make 91000 dollars in a year with the help off campain.

# EXAM END